.zoompinch {
  touch-action: none;
  overflow: hidden;
  position: relative;
  border: 2px solid #ccc;
}

.zoompinch > .canvas {
  position: absolute;
}

.zoompinch > .matrix {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}